.container {
    width: 1500px;
    display: flex;
    flex-wrap: wrap;
}
.user {
    width: 350px;
    margin: 10px;
    text-align: center;
    border: 1px solid black;

}
.user li {
    list-style: none;
}